include view/head.pug
body 
    include view/ads.pug
    include view/nav.pug
    include view/header.pug
    include view/main.pug

    script(src="scripts/nav.js") 
    script(src="scripts/series.js") 